@import "../../Variables.scss";

.titlebar{
    width: 100%;
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    background-color: $primaryBg;
    align-items: center;
    gap:0;
    .appName{
        text-align: center;
    }
    .icons{
        margin-left: 1em;
        position: absolute;
    }
    -webkit-app-region: drag;
}

p{
    margin: 0;
}

.titlebarButton{
    background-color: rgba(1,1,1,0);
    border: none;
    cursor:default;
}

.titlebarButton:hover{
    cursor:default !important;
}