/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import './Variables';

body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  background-color: $primaryBg;
}

#root {
  height: 100%;
  background-color: $primaryBg;
  color: $primaryColor;
}

a{
  color: $primaryColor !important;
  text-decoration: none !important;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}


.navbarm{
  height: 100vh;
  padding-top: 1em;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  border-right: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
  transition: 1s all;
}

.navlist{
  left: 0;
  display:block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navlist > li{
  left: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  text-align: center;
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkcomponent{
  width: 100%;
  height: 100%;
}

.togglerImg{
  margin-left: 2.1em;
  position:absolute;
  margin-top: 1em !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: $secondaryBg;
  border-radius: 100%;
  width: fit-content !important;
  height: fit-content;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  transition: 1s all;
}

.navbarTogglerImg{
  background-color: $secondaryBg;
  border-radius: 100%;
  padding: 0.8em;
}

.navlist > li > a {
  color: black;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBg{
}

.home{

  width: 96vw;
  height: 100vh;
  text-align: center;
  padding: 1em;
  border-radius: 8px;

  overflow: scroll;
  padding: 1em;
}

.appRow{
  width: 100%;
  margin-top: 1.5em !important;
}